.circulo{
    position: absolute;
    border-radius: 50%;
    background: #3498db;
    animation: ripple 15s infinite;
    box-shadow: 0 0 1px 0 #508fb9;
    z-index: 3;
}

.small{
    width: 150px;
    height: 150px;
    left: -100px;
    bottom: 40vh;
}

.medium{
    width: 300px;
    height: 300px;
    left: -200px;
    bottom: 30vh;
}

.large{
    width: 450px;
    height: 450px;
    left: -300px;
    bottom: 20vh;
}

.xlarge{
    width: 600px;
    height: 600px;
    left: -400px;
    bottom: 10vh;
}

.xxlarge{
    width: 750px;
    height: 750px;
    left: -500px;
    bottom: 0vh;
}

.sombra1{
    opacity: .1;
}
.sombra2{
    opacity: .3;
}
.sombra3{
    opacity: .5;
}
.sombra4{
    opacity: .6;
}
.sombra5{
    opacity: .7;
}

@keyframes ripple {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}