.input_field {
    position: relative;
    margin: 20px 0px
}

.input_field textarea {

    border-radius: 6px;
    font-size: 18px;
    padding: 15px 15px;
    border: 2px solid var(--lightColor1);
    background: transparent;
    color: var(--lightColor1);
    outline: none;
    z-index: 1;
    width: 100%;
    height: 100px;
}

.input_field label {
    position: absolute;
    top:20px;
    left: 15px;
    transform: translateY(-50%);
    color: var(--lightColor1);
    font-size: 19px;
    pointer-events: none;
    z-index: 0;
}

.input:focus ~ label,
.input:valid ~ label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: var(--darkColor1);
    transition: all 450ms;
}